.leaflet-sidebar-flex-row {
  display: flex;
  flex-direction: row;
  height: 100%; }

.leaflet-sidebar {
  /*
    position: absolute;
    top: 0;
    bottom: 0;
    width: $width-xs;
    */
  flex: 1 1 100%;
  overflow: hidden;
  /*
    z-index: $sidebar-z-index;
    */
  background-color: rgba(255, 255, 255, 0.95);
  /*
    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        width: $width-sm;
        max-width: $width-sm;
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        width: $width-md;
        max-width: $width-md;
    }

    @media(min-width:$threshold-lg) {
        width: $width-lg;
        max-width: $width-lg;
    }
*/ }
  .leaflet-sidebar.collapsed {
    flex: 0 1 0;
    /*
        width: 0;
        width: $tab-size;
    */ }
  @media (min-width: 768px) {
    .leaflet-sidebar {
      /*
        top: $sidebar-margins;
        bottom: $sidebar-margins;
        */
      /* TODO why 100px? */
      flex: 1 1 100px;
      /* To make the transition work nicely.  (Transitions to/from
           "width:auto" are buggy in Gecko and Webkit, at least.
           See http://bugzil.la/731886 for more info.) */
      /*
        width: 30px;

        transition: width $sidebar-transition;
        */
      transition: flex 250ms; } }

/*
.leaflet-sidebar-left {
    left: 0;
    @media(min-width:$threshold-sm) {
        left: $sidebar-margins;
    }
}
*/
/*
.leaflet-sidebar-right {
    right: 0;
    @media(min-width:$threshold-sm) {
        right: $sidebar-margins;
    }
}
*/
.leaflet-sidebar-tabs {
  position: absolute;
  /*
    top: 10px;
    bottom: 10px;

    height: 100%;
    */
  top: 0;
  bottom: 0;
  height: auto;
  z-index: 2001;
  /*     .leaflet-sidebar-right & {
 */
  background-color: #fff;
  transition: background-color 250ms;
  /*
    transition: background-color $tab-transition;
    transition: background-color $tab-transition $sidebar-transition;
    */ }
  .leaflet-sidebar-tabs.leaflet-sidebar-left {
    left: 0; }
  .leaflet-sidebar-tabs.leaflet-sidebar-right {
    right: 0; }
  .leaflet-sidebar-tabs.collapsed {
    background-color: transparent; }
  .leaflet-sidebar-tabs, .leaflet-sidebar-tabs > ul {
    position: absolute;
    width: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .leaflet-sidebar-tabs > li, .leaflet-sidebar-tabs > ul > li {
      width: 100%;
      height: 40px;
      color: #333;
      font-size: 12pt;
      overflow: hidden;
      transition: all 80ms;
      background-color: #fff; }
      .leaflet-sidebar-tabs > li:hover, .leaflet-sidebar-tabs > ul > li:hover {
        color: #000;
        background-color: #eee; }
      .leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
        color: #fff;
        background-color: #0074d9; }
      .leaflet-sidebar-tabs > li.disabled, .leaflet-sidebar-tabs > ul > li.disabled {
        color: rgba(51, 51, 51, 0.4); }
        .leaflet-sidebar-tabs > li.disabled:hover, .leaflet-sidebar-tabs > ul > li.disabled:hover {
          background: transparent; }
        .leaflet-sidebar-tabs > li.disabled > a, .leaflet-sidebar-tabs > ul > li.disabled > a {
          cursor: default; }
      .leaflet-sidebar-tabs > li > a, .leaflet-sidebar-tabs > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: inherit;
        text-decoration: none;
        text-align: center;
        cursor: pointer; }
  .leaflet-sidebar-tabs > ul + ul {
    bottom: 0; }

.leaflet-sidebar-content {
  /*
    position: absolute;

    .leaflet-sidebar-left & {
        left: $tab-size;
        right: 0;
    }

    .leaflet-sidebar-right & {
        left: 0;
        right: $tab-size;
    }

    top: 0;
    bottom: 0;
    */
  height: 100%;
  /*     background-color: $content-bg;
 */
  overflow-x: hidden;
  overflow-y: auto; }
  .leaflet-sidebar-right .leaflet-sidebar-content {
    margin-right: 40px; }
  .leaflet-sidebar.collapsed > .leaflet-sidebar-content {
    overflow-y: hidden; }

.collapsed > .leaflet-sidebar-content {
  overflow-y: hidden; }

.leaflet-sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px;
  /*
    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        min-width: $width-sm - $tab-size;
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        min-width: $width-md - $tab-size;
    }

    @media(min-width:$threshold-lg) {
        min-width: $width-lg - $tab-size;
    }
*/ }
  .leaflet-sidebar-pane.active {
    /*         display: block;
 */
    display: inherit; }

.leaflet-sidebar-header {
  margin: -10px -20px 0;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14.4pt;
  color: #fff;
  background-color: #0074d9; }
  .leaflet-sidebar-right .leaflet-sidebar-header {
    padding-left: 40px; }

.leaflet-sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer; }
  .leaflet-sidebar-left .leaflet-sidebar-close {
    right: 0; }
  .leaflet-sidebar-right .leaflet-sidebar-close {
    left: 0; }

.leaflet-sidebar-map {
  flex: 2.5 1 auto; }

/*
.leaflet-sidebar {
    box-shadow: $sidebar-shadow;

    &.leaflet-touch {
        box-shadow: none;
        border-right: $sidebar-touch-border;
    }

    @media(min-width:$threshold-sm) {
        border-radius: $sidebar-border-radius;

        &.leaflet-touch {
            border: $sidebar-touch-border;
        }
    }
}
*/
/*
.leaflet-sidebar-left {

    & ~ .leaflet-control-container .leaflet-left {
        @media(min-width:$threshold-sm) {
            transition: left $sidebar-transition;
        }

        @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
            left: $width-sm + $sidebar-margins;
        }

        @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
            left: $width-md + $sidebar-margins;
        }

        @media(min-width:$threshold-lg) {
            left: $width-lg + $sidebar-margins;
        }
    }

    &.collapsed ~ .leaflet-control-container .leaflet-left {
        @media(min-width:$threshold-sm) {
            left: $tab-size + $sidebar-margins;
        }
    }
}

.leaflet-sidebar-right {

    & ~ .leaflet-control-container .leaflet-right {
        @media(min-width:$threshold-sm) {
            transition: right $sidebar-transition;
        }

        @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
            right: $width-sm + $sidebar-margins;
        }

        @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
            right: $width-md + $sidebar-margins;
        }

        @media(min-width:$threshold-lg) {
            right: $width-lg + $sidebar-margins;
        }
    }

    &.collapsed ~ .leaflet-control-container .leaflet-right {
        @media(min-width:$threshold-sm) {
            right: $tab-size + $sidebar-margins;
        }
    }
}
*/
