.leaflet-sidebar-flex-row {
  display: flex;
  flex-direction: row;
  height: 100%; }

.leaflet-sidebar {
  /*
    position: absolute;
    top: 0;
    bottom: 0;
    width: $width-xs;
    */
  flex: 1 1 100%;
  overflow: hidden;
  /*
    z-index: $sidebar-z-index;
    */
  background-color: rgba(255, 255, 255, 0.95);
  /*
    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        width: $width-sm;
        max-width: $width-sm;
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        width: $width-md;
        max-width: $width-md;
    }

    @media(min-width:$threshold-lg) {
        width: $width-lg;
        max-width: $width-lg;
    }
*/ }
  .leaflet-sidebar.collapsed {
    flex: 0 1 0;
    /*
        width: 0;
        width: $tab-size;
    */ }
  @media (min-width: 768px) {
    .leaflet-sidebar {
      /*
        top: $sidebar-margins;
        bottom: $sidebar-margins;
        */
      /* TODO why 100px? */
      flex: 1 1 100px;
      /* To make the transition work nicely.  (Transitions to/from
           "width:auto" are buggy in Gecko and Webkit, at least.
           See http://bugzil.la/731886 for more info.) */
      /*
        width: 30px;

        transition: width $sidebar-transition;
        */
      transition: flex 250ms; } }

/*
.leaflet-sidebar-left {
    left: 0;
    @media(min-width:$threshold-sm) {
        left: $sidebar-margins;
    }
}
*/
/*
.leaflet-sidebar-right {
    right: 0;
    @media(min-width:$threshold-sm) {
        right: $sidebar-margins;
    }
}
*/
.leaflet-sidebar-tabs {
  position: absolute;
  /*
    top: 10px;
    bottom: 10px;

    height: 100%;
    */
  top: 10px;
  bottom: 10px;
  height: auto;
  z-index: 2001;
  /*     .leaflet-sidebar-right & {
 */
  background-color: #fff; }
  .leaflet-sidebar-tabs.leaflet-sidebar-left {
    left: 0; }
  .leaflet-sidebar-tabs.leaflet-sidebar-right {
    right: 0; }
  .leaflet-sidebar-tabs.collapsed {
    background-color: transparent; }
  .leaflet-sidebar-tabs, .leaflet-sidebar-tabs > ul {
    position: absolute;
    width: 36px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff; }
    .leaflet-sidebar-tabs > li, .leaflet-sidebar-tabs > ul > li {
      width: 100%;
      height: 36px;
      color: #333;
      font-size: 12pt;
      overflow: hidden;
      transition: all 80ms; }
      .leaflet-sidebar-tabs > li:hover, .leaflet-sidebar-tabs > ul > li:hover {
        color: #000;
        background-color: #eee; }
      .leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
        color: #fff;
        background-color: #0074d9; }
      .leaflet-sidebar-tabs > li.disabled, .leaflet-sidebar-tabs > ul > li.disabled {
        color: rgba(51, 51, 51, 0.4); }
        .leaflet-sidebar-tabs > li.disabled:hover, .leaflet-sidebar-tabs > ul > li.disabled:hover {
          background: transparent; }
        .leaflet-sidebar-tabs > li.disabled > a, .leaflet-sidebar-tabs > ul > li.disabled > a {
          cursor: default; }
      .leaflet-sidebar-tabs > li > a, .leaflet-sidebar-tabs > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 36px;
        color: inherit;
        text-decoration: none;
        text-align: center;
        cursor: pointer; }
  .leaflet-sidebar-tabs > ul + ul {
    bottom: 0; }

.leaflet-sidebar-content {
  /*
    position: absolute;

    .leaflet-sidebar-left & {
        left: $tab-size;
        right: 0;
    }

    .leaflet-sidebar-right & {
        left: 0;
        right: $tab-size;
    }

    top: 0;
    bottom: 0;
    */
  height: 100%;
  /*     background-color: $content-bg;
 */
  overflow-x: hidden;
  overflow-y: auto; }
  .leaflet-sidebar-right .leaflet-sidebar-content {
    margin-right: 36px; }
  .leaflet-sidebar.collapsed > .leaflet-sidebar-content {
    overflow-y: hidden; }

.collapsed > .leaflet-sidebar-content {
  overflow-y: hidden; }

.leaflet-sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  padding: 10px 10px;
  /*
    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        min-width: $width-sm - $tab-size;
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        min-width: $width-md - $tab-size;
    }

    @media(min-width:$threshold-lg) {
        min-width: $width-lg - $tab-size;
    }
*/ }
  .leaflet-sidebar-pane.active {
    /*         display: block;
 */
    display: inherit; }

.leaflet-sidebar-header {
  margin: -10px -10px 0;
  height: 36px;
  line-height: 36px;
  font-size: 14.4pt;
  color: #0074d9;
  background-color: #fff; }

.leaflet-sidebar-close {
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer; }
  .leaflet-sidebar-left .leaflet-sidebar-close {
    float: right; }
  .leaflet-sidebar-right .leaflet-sidebar-close {
    float: left; }

.leaflet-sidebar-map {
  flex: 2.5 1 auto; }

.leaflet-sidebar-tabs.leaflet-touch > ul {
  margin-top: 2px; }

.leaflet-sidebar-tabs.collapsed > ul {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); }

.leaflet-sidebar-tabs.collapsed.leaflet-sidebar-left > ul, .leaflet-sidebar-tabs.collapsed.leaflet-sidebar-left > ul > li:first-child {
  border-top-right-radius: 4px; }

.leaflet-sidebar-tabs.collapsed.leaflet-sidebar-left > ul, .leaflet-sidebar-tabs.collapsed.leaflet-sidebar-left > ul > li:last-child {
  border-bottom-right-radius: 4px; }

.leaflet-sidebar-tabs.collapsed.leaflet-sidebar-right > ul, .leaflet-sidebar-tabs.collapsed.leaflet-sidebar-right > ul > li:first-child {
  border-top-left-radius: 4px; }

.leaflet-sidebar-tabs.collapsed.leaflet-sidebar-right > ul, .leaflet-sidebar-tabs.collapsed.leaflet-sidebar-right > ul > li:last-child {
  border-bottom-left-radius: 4px; }

.leaflet-sidebar-tabs.collapsed.leaflet-touch, .leaflet-sidebar-tabs.collapsed.leaflet-touch > ul {
  width: 38px; }

.leaflet-sidebar-tabs.collapsed.leaflet-touch > ul {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 0px;
  background-clip: padding-box;
  margin-top: 0; }
