$threshold-lg: 1200px !default;
$threshold-md: 992px !default;
$threshold-sm: 768px !default;

$width-lg: 460px !default;
$width-md: 390px !default;
$width-sm: 305px !default;
$width-xs: 100% !default;

$sidebar-z-index: 2000 !default;
$sidebar-transition: 250ms !default;

$tab-size: 40px !default;
$tab-font-size: 12pt !default;
$tab-bg: null !default;
$tab-transition: 80ms !default;

$header-fg: $tab-active-fg !default;
$header-bg: $tab-active-bg !default;

$content-bg: rgba(255, 255, 255, 0.95) !default;
$content-padding-vertical: 10px !default;
$content-padding-horizontal: 20px !default;

.leaflet-sidebar-flex-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.leaflet-sidebar {

    /*
    position: absolute;
    top: 0;
    bottom: 0;
    width: $width-xs;
    */

    flex: 1 1 100%;

    overflow: hidden;

    /*
    z-index: $sidebar-z-index;
    */

    background-color: $content-bg;

    &.collapsed {
        flex: 0 1 0;
    /*
        width: 0;
        width: $tab-size;
    */
    }

    @media(min-width:$threshold-sm) {
        /*
        top: $sidebar-margins;
        bottom: $sidebar-margins;
        */

/* TODO why 100px? */
        flex: 1 1 100px;

        /* To make the transition work nicely.  (Transitions to/from
           "width:auto" are buggy in Gecko and Webkit, at least.
           See http://bugzil.la/731886 for more info.) */
        /*
        width: 30px;

        transition: width $sidebar-transition;
        */
        transition: flex $sidebar-transition;
    }
/*
    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        width: $width-sm;
        max-width: $width-sm;
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        width: $width-md;
        max-width: $width-md;
    }

    @media(min-width:$threshold-lg) {
        width: $width-lg;
        max-width: $width-lg;
    }
*/

}

/*
.leaflet-sidebar-left {
    left: 0;
    @media(min-width:$threshold-sm) {
        left: $sidebar-margins;
    }
}
*/

/*
.leaflet-sidebar-right {
    right: 0;
    @media(min-width:$threshold-sm) {
        right: $sidebar-margins;
    }
}
*/

.leaflet-sidebar-tabs {
    position: absolute;
    /*
    top: 10px;
    bottom: 10px;

    height: 100%;
    */
    top: 0;
    bottom: 0;
    height: auto;
    z-index: 2001;

    &.leaflet-sidebar-left {
        left: 0;
    }

/*     .leaflet-sidebar-right & {
 */
    &.leaflet-sidebar-right {
        right: 0;
    }

    background-color: $tabs-bg;   
    transition: background-color $sidebar-transition;

    &.collapsed {
        background-color: transparent;
    }
    /*
    transition: background-color $tab-transition;
    transition: background-color $tab-transition $sidebar-transition;
    */


    &, & > ul {
        position: absolute;

        width: $tab-size;

        margin: 0;
        padding: 0;

        list-style-type: none;

        & > li {
            width: 100%;
            height: $tab-size;

            color: $tab-fg;
            @if $tab-bg { background: $tab-bg; }

            font-size: $tab-font-size;

            overflow: hidden;

            transition: all $tab-transition;

            background-color: $tabs-bg;

            &:hover {
                color: $tab-hover-fg;
                background-color: $tab-hover-bg;
            }

            &.active {
                color: $tab-active-fg;
                background-color: $tab-active-bg;
            }

            &.disabled {
                color: fade-out($tab-fg, 0.6);

                &:hover {
                    @if $tab-bg {
                        background: $tab-bg;
                    } @else {
                        background: transparent;
                    }
                }

                & > a {
                    cursor: default;
                }
            }

            & > a {
                display: block;

                width: 100%;
                height: 100%;

                line-height: $tab-size;

                color: inherit;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    & > ul + ul {
        bottom: 0;
    }
}

.leaflet-sidebar-content {
    /*
    position: absolute;

    .leaflet-sidebar-left & {
        left: $tab-size;
        right: 0;
    }

    .leaflet-sidebar-right & {
        left: 0;
        right: $tab-size;
    }

    top: 0;
    bottom: 0;
    */
    height: 100%;

    .leaflet-sidebar-right & {
        margin-right: $tab-size;
    }


/*     background-color: $content-bg;
 */
    overflow-x: hidden;
    overflow-y: auto;

    .leaflet-sidebar.collapsed > & {
        overflow-y: hidden;
    }
}

 .collapsed > .leaflet-sidebar-content {
    overflow-y:hidden; }


.leaflet-sidebar-pane {
    display: none;

    left: 0;
    right: 0;
    box-sizing: border-box;

    padding: $content-padding-vertical $content-padding-horizontal;

    &.active {
/*         display: block;
 */
        display: inherit;
    }
/*
    @media(min-width:$threshold-sm) and (max-width:$threshold-md - 1px) {
        min-width: $width-sm - $tab-size;
    }

    @media(min-width:$threshold-md) and (max-width:$threshold-lg - 1px) {
        min-width: $width-md - $tab-size;
    }

    @media(min-width:$threshold-lg) {
        min-width: $width-lg - $tab-size;
    }
*/
}

.leaflet-sidebar-header {
    margin: (-$content-padding-vertical) (-$content-padding-horizontal) 0;
    height: $tab-size;
    padding: 0 $content-padding-horizontal;
    line-height: $tab-size;
    font-size: $tab-font-size * 1.2;
    color: $header-fg;
    background-color: $header-bg;

    .leaflet-sidebar-right & {
        padding-left: $tab-size;
    }
}

.leaflet-sidebar-close {
    position: absolute;
    top: 0;
    width: $tab-size;
    height: $tab-size;
    text-align: center;
    cursor: pointer;

    .leaflet-sidebar-left & {
        right: 0;
    }

    .leaflet-sidebar-right & {
        left: 0;
    }
}
