$threshold-lg: 1200px !default;
$threshold-md: 992px !default;
$threshold-sm: 768px !default;

$width-lg: 460px !default;
$width-md: 390px !default;
$width-sm: 305px !default;
$width-xs: 100% !default;

$sidebar-z-index: 1000 !default;
$sidebar-transition: 250ms !default;

$tab-size: 36px !default;
$tab-font-size: 12pt !default;
$tab-bg: null !default;
$tab-transition: 80ms !default;
$header-fg: $tab-active-bg !default;
$header-bg: $tabs-bg !default;
$content-bg: rgba(255, 255, 255, 0.95) !default;
$content-padding-vertical: 10px !default;
$content-padding-horizontal: 10px !default;

.leaflet-sidebar-flex-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.leaflet-sidebar {

    flex: 1 1 100%;

    overflow: hidden;
    background-color: $content-bg;

    &.collapsed {
        flex: 0 1 0;
    }

    @media(min-width:$threshold-sm) {
        flex: 0 1 auto;
 
        transition: flex $sidebar-transition;
    }
}

.leaflet-sidebar-tabs {
    position: absolute;
    top: $sidebar-margins;
    bottom: $sidebar-margins;
    height: auto;
    z-index: $sidebar-z-index;
    pointer-events: none;

    &.leaflet-sidebar-left {
        left: 0;
    }

    &.leaflet-sidebar-right {
        right: 0;
    }

    background-color: $tabs-bg;   

    &.collapsed {
        background-color: transparent;
    }

    &, & > ul {
        position: absolute;

        width: $tab-size;

        margin: 0;
        padding: 0;

        list-style-type: none;

        background-color: $tabs-bg;

        & > li {
            width: 100%;
            height: $tab-size;
            pointer-events: auto;

            color: $tab-fg;
            @if $tab-bg { background: $tab-bg; }

            font-size: $tab-font-size;

            overflow: hidden;

            transition: all $tab-transition;

            &:hover {
                color: $tab-hover-fg;
                background-color: $tab-hover-bg;
            }

            &.active {
                color: $tab-active-fg;
                background-color: $tab-active-bg;
            }

            &.disabled {
                color: fade-out($tab-fg, 0.6);

                &:hover {
                    @if $tab-bg {
                        background: $tab-bg;
                    } @else {
                        background: transparent;
                    }
                }

                & > a {
                    cursor: default;
                }
            }

            & > a {
                display: block;

                width: 100%;
                height: 100%;

                line-height: $tab-size;

                color: inherit;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    & > ul + ul {
        bottom: 0;
    }
}

.leaflet-sidebar-content {
    height: 100%;

    .leaflet-sidebar-right & {
        margin-right: $tab-size;
    }

    overflow-x: hidden;
    overflow-y: auto;

    .leaflet-sidebar.collapsed > & {
        overflow-y: hidden;
    }
}

.collapsed > .leaflet-sidebar-content {
    overflow-y:hidden; 
}


.leaflet-sidebar-pane {
    display: none;

    /* Fixes scrolling of long content in Firefox */
    height: 0;

    padding: $content-padding-vertical $content-padding-horizontal;

    &.active {
        display: inherit;
    }
}

.leaflet-sidebar-header {
    margin: (-$content-padding-vertical) (-$content-padding-horizontal) 0;
    height: $tab-size;
    line-height: $tab-size;
    font-size: $tab-font-size * 1.2;
    color: $header-fg;
    background-color: $header-bg;
}

.leaflet-sidebar-close,
.leaflet-sidebar-expand {
    width: $tab-size;
    height: $tab-size;
    text-align: center;
    cursor: pointer;
    color: $button-fg;
}

.leaflet-sidebar-expand.active {
    color: $button-active-fg;
}

.leaflet-sidebar-close {
    .leaflet-sidebar-left & {
        float: right;
    }

    .leaflet-sidebar-right & {
        float: left;
    }
}

.leaflet-sidebar-expand {
    .leaflet-sidebar-left & {
        float: left;
    }

    .leaflet-sidebar-right & {
        float: right;
    }
}
