$sidebar-margins: 10px !default;
$sidebar-border-radius: 4px !default;
$sidebar-touch-border-width: 2px;
$sidebar-touch-border: $sidebar-touch-border-width solid rgba(0, 0, 0, 0.2) !default;
$sidebar-shadow: 0 1px 5px rgba(0, 0, 0, 0.65) !default;

$tab-fg: #333 !default;
$tabs-bg: #fff !default;
$tab-hover-fg: #000 !default;
$tab-hover-bg: #eee !default;
$tab-active-fg: #fff !default;
$tab-active-bg: #0074d9 !default;

$button-fg: $tab-fg;
$button-active-fg: $tab-active-bg;


@import 'base';

.leaflet-sidebar-map
{
    flex: 1 1 auto;

    @media(min-width:$threshold-sm) {
        flex: 1 0 66%;

        // no limiting width ratio using basis, let sidebar expand 
        // to fit its content, see JS toggleExpand method
        &.sidebar-expanded {
            flex: 1 1 auto;
        }
    }
}

.leaflet-sidebar-tabs {

    &.leaflet-touch > ul {
        margin-top: $sidebar-touch-border-width;
    }

    &.collapsed {

        & > ul {
            box-shadow: $sidebar-shadow;
        }

        &.leaflet-sidebar-left {
            & > ul {
                &, & > li:first-child {
                    border-top-right-radius: $sidebar-border-radius;
                }

                &, & > li:last-child {
                    border-bottom-right-radius: $sidebar-border-radius;
                }
            }
        }
        &.leaflet-sidebar-right {
            & > ul {
                &, & > li:first-child {
                    border-top-left-radius: $sidebar-border-radius;
                }

                &, & > li:last-child {
                    border-bottom-left-radius: $sidebar-border-radius;
                }
            }
        }

        &.leaflet-touch {
            &, & > ul {
                width: $tab-size + $sidebar-touch-border-width;
            }

            & > ul {
                box-shadow: none;
                border: $sidebar-touch-border;
                border-right: 0;
                background-clip: padding-box;
                margin-top: 0;
            }
        }
    }
}

